<div class="container">
  <div class="col justify-c align-i-c">
    <h1>About</h1>
    <p class="center">The Goal of this project is to provide a clean, clear way to find a movie to watch, void of ads and a bunch of unnecessary links. </p>
    <p class="center">With that in mind it had to use box art images, bits of movie info, and a responsive layout. </p>
    <p class="center">To achieve this goal, I used a minimalistic css framework called Milligram which I modified. I built my own modal, pagination, and navbar responsive menu.</p>
    <p class="center">Because of this approach of writing things from scratch, I encountered things I didn't expect like issues with touch on iOS.</p>
    <p class="center">On a positive note this project also gives me chance to play with Angular 2 and Observables. </p>
    <p class="center">To find out more about me and my projects, visit the links below. </p>
    <div class="row justify-c icon-parent">
      <a  title="Personal Website" href="https://www.immadmohamed.com" target="_blank">
        <i class="fa fa-globe" aria-hidden="true"></i>
      </a>
      <a  title="Github" href="https://www.github.com/imoe037" target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
      <a  title="Linkedin" href="https://www.linkedin.com/in/immadmohamed" target="_blank">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>