<div class="flex-row no-wrap baseline space-between nav-container">
    <div class="brand flex-row no-wrap baseline">
        <div class="logo">
            <i class="main-logo fa fa-ticket" aria-hidden="true"></i>
        </div>
        <div class="title">
            {{title}}
        </div>
    </div>
    <div>
        <a [ngClass]="{'active': active('') }" class="item" (click)="gotoLink($event)">Home</a>
        <a [ngClass]="{'active': active('movies') }" class="item" (click)="gotoLink($event)">Movies</a>
        <a [ngClass]="{'active': active('about') }" class="item" (click)="gotoLink($event)">About</a>
    </div>
</div>
