@import "../../scss/milligram/Color";
@import "../../scss/milligram/Media";
@import "menu";

.nav {
  border-bottom: 2px solid rgba(34,36,38,.15);
  height: 5rem;
  max-height: 5rem;
}

.logo {
  padding-right: 1.5rem;
  font-size: 3rem;
}

.title {
  font-size: 2.5rem;
}

.item {
  padding: 1.15rem 1rem 1.15rem 1rem;

  &:hover {
  	color: $color-secondary;
  	border-bottom: 2px solid $color-secondary;
  }
}

.active {
  color: $color-tertiary;
  border-bottom: 2px solid $color-tertiary;
}

.item-dropdown {
  padding: 1.15rem 1rem 1.15rem 1rem;

  &:hover {
    color: blue;
  }
}

.active-dropdown {
  color: $color-tertiary !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  top: 58px;
  left: 6px;
  z-index: 9999;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 98.7vw;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show {
  display:block;
}

@media #{$md} {
  .links {
    display: none;
  }
}

@media #{$gt-md} {
  .dropdown-content {
    display: none;
  }
}

