@import "../../scss/milligram/Color";
@import "../../scss/milligram/Media";

$movie-background: #eff1f2;

.movie-container {
	width: 17.813vw;
	height: 26.719vw;
	background-size: cover;
	margin: 1rem;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.movie-background {
	background-color: $movie-background;
}

@media (max-width: 1430px) and #{$gt-lg} {
	.movie-container {
		width: 21.813vw;
		height: 32.719vw;
	}
}

@media #{$gt-md} and #{$lg} {
	.movie-container {
		width: 20.813vw;
		height: 30.719vw;
	}
}

@media #{$gt-sm} and #{$md} {
	.movie-container {
		width: 42.813vw;
		height: 63.719vw;
	}
}

@media #{$sm} {
	.movie-container {
		width: 37.813vw;
		height: 56.719vw;
	}
}

@media #{$xs} {
	.movie-container {
		width: 35.813vw;
		height: 53.719vw;
	}
}

@media (min-width: 1919px) {
	.movie-container {
		width: 342px;
		height: 513px;
	}
}


.modal-background {
	height: 100%;
	width: 100%;
	background-size: cover;
	-webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
	position: absolute;
	top: 0;
	left: 0;
	transform: scale(1.10);
}

.modal-content {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, .6);
}

.modal-content * {
	color: white;
}

.padding {
	padding: 2rem;
}

.modal-move-links {
	color: white;
	font-size: x-large;
}

.modal-move-links:hover,
.modal-move-links:hover  i {
	color: $color-primary;
}

.padding-top {
	padding-top: 10vh;
}

.padding-left {
	padding-left: 5vh;
}

.padding-top-mobile {
	padding-top: 2vh;
}

.padding-left-mobile {
	padding-left: 1vh;
}

//Responsive Modal Content

@media #{$sm} {
	.hide-sm {
		display: none;
	}
}

@media #{$gt-sm} {
	.hide-gt-sm {
		display: none;
	}
}

.movie-info {
	margin: 0;
}

.movie-info-content {
	font-weight: 400;
}

.movie-mobile-summary {
	padding: 0 1vh 0 1vh;
	text-align: center;
}