<div class="other">
<div class="ui items center aligned">
    <div class="item">
        <div class="image">
            <img src="http://semantic-ui.com/images/wireframe/image.png">
        </div>
        <div class="content">
            <a class="header">Filmster</a>
            <div class="meta">
                <span>Description</span>
            </div>
            <div class="description">
                <p>Filmster is a quick, easy, and clean way to get all your movie information needs.</p>
            </div>
            <div class="extra">
                Additional Details
            </div>
        </div>
    </div>
    <div class="item">
        <div class="content">
            <a class="header">What's New</a>
            <div class="meta">
                <span>Description</span>
            </div>
            <div class="description">
                <p>Initial Release more coming soon!</p>
            </div>
            <div class="extra">
                Additional Details
                <p>Oct 24, 2016 - Inital Development</p>
            </div>
        </div>
        <div class="image">
            <img src="http://semantic-ui.com/images/wireframe/image.png">
        </div>
    </div>
</div>
</div>
